.todolist {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
}

.todolist .icon {
  color: #fb7800;
  font-size: 30px;
  cursor: pointer;
}
.todolist .icon:hover {
  color: red;
}
li {
  list-style: none;
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}
